[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = ">=7.0, <8.0"
parse = ">=1.18.0, <2.0"

[dev-packages]
coverage = ">=5.3, <6.0"
pytest = ">=5.0, <6.0"
reuse = "==0.11.1"
setuptools-git = ">=1.2, <2.0"
twine = ">=3.2, <4.0"

[dev-packages.e1839a8]
path = "."
editable = true
